.nav-bar{
    height: 5rem;
    background-color:lightgrey;
    display: flex;
    align-items: center;
    height: 5rem;
    width: 90%;
    margin: 2rem;
    border-radius: .5rem;
}

.music-comp{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 2rem;
}

.replay{
    height: 2rem;
    cursor: pointer;
}

.fwd{
    height: 2rem;
    cursor: pointer;
}

.speed{
    appearance: none;
    margin-left: 2rem;
    border-radius: .5rem;
    align-items: center;
}

.me{
    padding: 1rem;
    display: flex;
}

.other{
    display:flex;
    margin-left: 3rem;
    padding: 1rem;
    padding-top: 0rem;
}

.vertical-bar{
    border-left: 3px solid green;
    margin-left: 1rem;
    margin-right: 1rem;
    height: auto;
      
}

.conv-text{
    margin-left: 2rem;
    background-color: blanchedalmond;
    width: 90%;
    border-radius: 0.5rem;
}

.text{
    text-align-last: left;
    margin-left: 1rem;
}

.word{
    margin: .25rem;
    display: inline-block;
}

.highlight{
    background-color: yellow;
}

/* .seek-bar {
    -webkit-appearance: none;
    width: 90%;
    background: transparent;
}
  
.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
.seek-bar:focus {
    outline: none;
}
  
.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.1rem;
    width: 1.5rem;
    background: #222;
    cursor: pointer;
}
  
.seek-bar::-moz-range-thumb {
    height: 20px;
    width: 10px;
    background: #222;
    cursor: pointer;
}
  
.seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #B0B0B0;
}

.seek-bar:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}

.seek-bar::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #B0B0B0;
} */
