.seek-bar {
  -webkit-appearance: none;
  width: 44.12rem;
  background: transparent;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.seek-bar:focus {
  outline: none;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 2px;
  background: #222;
  cursor: pointer;
}

.seek-bar::-moz-range-thumb {
  height: 20px;
  width: 10px;
  background: #222;
  cursor: pointer;
}

.seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #B0B0B0;
}

.seek-bar:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}

.seek-bar::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #B0B0B0;
}

.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 2rem;
}

.duration {
  background-color: aqua;
}

.name-and-seek-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: red;
}

.seek-bar-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: yellow;
}

.current-time {
  width: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.purple {
  background-color: purple;
  height: 2rem;
}

.violet {
  background-color: violet;
  height: 2rem;
}
/*# sourceMappingURL=style.css.map */