.seek-bar {
    -webkit-appearance: none;
    width: 44.12rem;
    background: transparent;
}
  
.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
.seek-bar:focus {
    outline: none;
}
  
.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 2px;
    background: #222;
    cursor: pointer;
}
  
.seek-bar::-moz-range-thumb {
    height: 20px;
    width: 10px;
    background: #222;
    cursor: pointer;
}
  
.seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #B0B0B0;
  // align-items: center;
}

.seek-bar:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}

.seek-bar::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #B0B0B0;
}

.outer{
display: flex;
flex-direction: column;
width: 90%;
margin-left: 2rem;
}
  
.duration{
background-color: aqua;
}

.name-and-seek-bar{
display: flex;
flex-direction: row;
background-color: red;
}

.seek-bar-div{
display: flex;
flex-direction: column;
}
  
.name{
display: flex;
flex-direction: column;
background-color: yellow;
}

.current-time{
  width: .5rem;
  display: flex;
  justify-content: flex-start;
}

.purple{
  background-color: purple;
  height: 2rem;
}

.violet{
  background-color: violet;
  height: 2rem;
}


